* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: darkblue; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(6, 1fr); 
    
    grid-gap: 5px; 
    width: 90vw; 
    max-width: 1200px;
    height: 90vh; 
    border: 5px solid darkblue; 
}
.grid-item {
    background-color: white;
    border: 5px solid darkblue; 
    padding: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px; 
    font-family: sans-serif;
    color: darkblue;
    font-weight: bold;
    text-transform: uppercase;
}
.grid-image {
    width:  100%;
    max-height: 100%;
    object-fit: cover; 
    display: block;
}
.item-lorem {
    padding: 0; 
    grid-column: 1 / 2; 
    grid-row: 1 / span 2; 
}
.item-culpa {
    grid-column: 2 / span 2; 
    grid-row: 1 / 2;
}
.item-officia {
    grid-column: 4 / 5;
    grid-row: 1 / span 2; 
}
.item-mollit {
    grid-column: 2 / span 2; 
    grid-row: 2 / 3;
}
.item-exercitation {
    grid-column: 1 / 2;
    grid-row: 3 / span 2; 
}
.item-magna {
    grid-column: 2 / 3;
    grid-row: 3 / span 2; 
}
.item-laboris {
    grid-column: 3 / 4;
    grid-row: 3 / span 3; 
}
.item-fugiat {
    grid-column: 4 / 5;
    grid-row: 3 / span 2; 
}
.item-ullamco {
    grid-column: 1 / span 2;
    grid-row: 5 / 6; 
}
.item-consectetur {
    grid-column: 4 / 5;
    grid-row: 5 / 6;
}
.item-pariatur {
    grid-column: 1 / 2;
    grid-row: 6 / 7; 
}
.item-dolore {
    grid-column: 2 / span 2;
    grid-row: 6 / 7;
}
.item-excepteur {
    grid-column: 4 / 5;
    grid-row: 6 / 7;
}